.Blocks {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;

    .Block {
        text-align:center;
        padding-top: 4rem;
        padding-bottom: 4rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        h3 {
            font-size:1.8em;
            font-family: 'Yrsa', serif;
            margin-bottom:5px;
            padding-bottom:5px;
        }
        p {
            padding :0px;
            margin:0px;
            width:100%;
        }
    }
}